.box {
  display: flex;
  min-height: 100vh;
}

.imageBox {
  display: flex;
  border-right: 2px solid #ddd;
  padding: 6rem;
  flex-basis: 55%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;

  h1 {
    margin-bottom: 0.6rem;
    font-size: 3.6rem;
  }

  .auth {
    padding: 1rem 2rem;
    width: 40%;
    font-size: 2rem;

    &:first-child {
      margin-right: 1.5rem;
    }
  }
}

.description {
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
}
