.box {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.imageBox {
  display: flex;
  border-right: none;
  padding: 6rem;
  flex-basis: 55%;
  order: 1;

  @media only screen and (min-width: 768px) {
    border-right: 2px solid #ddd;
    order: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  min-height: 50%;
  text-align: center;
  border-bottom: 2px solid #ddd;

  @media only screen and (min-width: 768px) {
    height: auto;
    border-bottom: none;
    text-align: left;
  }

  h1 {
    font-size: 3.6rem;

    @media only screen and (min-width: 768px) {
      margin-bottom: 0.6rem;
    }
  }

  .auth {
    padding: 1rem 2rem;
    width: 40%;
    font-size: 2rem;

    &:first-child {
      margin-right: 1.5rem;
    }
  }
}

.description {
  line-height: 1.5;
  font-size: 1.8rem;
  margin: 1rem 0 1.5rem 0;

  @media only screen and (min-width: 768px) {
    margin: 0 0 1.25rem 0;
  }
}
