.box {
  background-color: #333745;
  padding: 4rem 0;
  margin-bottom: 2rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 600;
  }
}
